/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/

/*Déclaration des polices-----------------------------------------------------------*/

@font-face {
    font-family: 'dancingscript';
    src:  url('dancing-script/DancingScript-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abrilfatface';
    src:  url('abril-fatface/AbrilFatface-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src:  url('montserrat/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Fin de déclaration des polices--------------------------------------------------*/
/* Mise en page des blocs*/

body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:1500px;
    height:2385px;
    font-family: 'montserrat', Impact, Helvetica, serif ;
}


/*----------Mise en page entête-----------*/

header {
    height: 260px;
    display: flex;
    background:#579C87;
   
}

h1 {
    margin: auto;
    color: #FDCB46;
    font-size:10em;
}

/*----------Mise en page menu-------------*/
#menu
{
    display:flex;
    flex-wrap:wrap;   
}

#note 
{   
    margin:100px 50px 50px 157px;
    background-color: #FDE1DD;
    color: #3D1319; 
}

#chic {
    
    margin: 100px 157px 50px 50px;
    background-color: #FFF5FE;
    font-family: 'abrilfatface', Impact, Helvetica, serif ;   
}

#délice 
{ 
    margin: 50px 50px 100px 157px;
    background-color: #F9F9F9;
}


#palette {
    margin: 50px 157px 100px 50px;
    background-color: #FDFFFD;

}
#note, #chic, #délice, #palette {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 535px;
    height: 759px;
}

strong
{
    font-size: 5em;
}
#menunote
{
    color: #3D1319;
}
#menuchic
{
    color:#c77412;
}
#menudelice
{
    color: #0887FB;
}

#menupalette
{
    color:#72BF56;
}

/*----------Mise en page aside------------*/

aside {
    width: 655px;
    height: 117px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    border-radius: 15px;
    background: #579C87;
    color: #FDCB46;
}

/*----------Mise en page footer-----------*/

footer {
    display: flex;
    justify-content: space-between;
    height: 137px;
    margin-top: 100px;
    font-size: 30px;
    background: #579C87;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 8px; 
}

.wiggle
{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;

}
span
{
    color: #FDCB46;
}

.fas
{
    font-size:60px;
    
    background: -webkit-gradient(linear ,(from #F15F62 ,to #F6916A));
    -webkit-background-clip: ;
    -webkit-text-fill-color: transparent;
} 

a:link
{
    text-decoration: none;
}


@-webkit-keyframes shake
{
    0% {-webkit-transform: translate(2px,2px);}
    10% {-webkit-transform: translate(-2px, -2px);}
    20% {-webkit-transform: translate(2px,2px);}
    30% {-webkit-transform: translate(-2px, -2px);}
    40% {-webkit-transform: translate(2px,2px);}
    50% {-webkit-transform: translate(-2px, -2px);}
    60% {-webkit-transform: translate(2px,2px);}
    70% {-webkit-transform: translate(-2px, -2px);}
    80% {-webkit-transform: translate(2px,2px);}
    90% {-webkit-transform: translate(-2px, -2px);}
    100% {-webkit-transform: translate(2px,2px);}
}

.wiggle :hover
{
    -webkit-animation-name:shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite ;
}

#note :hover , #chic :hover, #délice :hover, #palette :hover
{
    transform: scale(1.6);
    transition-duration: 180ms;
}

aside #apres, aside:hover #avant
{
    display: none;
}
   
aside:hover #apres
{
    display: block;
    font-size: 1.9em;
    font-weight: bold;    
}

/*Animation points de suspension-------------------------------*/

#point1
{
    animation: masuperanimation 750ms  infinite;     
}
#point2
{
    animation: masuperanimation 750ms 250ms infinite; 
}
#point3
{
    animation: masuperanimation 750ms 500ms infinite; 
}

@keyframes masuperanimation { /* Tous les autres navigateurs */
    0% {
        opacity: 0.2;

    }
    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

