/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/

/*Déclaration des polices-----------------------------------------------------------*/
@font-face {
    font-family: 'montserrat';
    src:  url('police/montserrat/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-semibold';
    src:  url('police/montserrat/Montserrat-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'devonshire';
    src:  url('police/devonshire/Devonshire-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itim';
    src:  url('police/Itim/Itim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abrilfatface';
    src:  url('police/abril-fatface/AbrilFatface-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chilanka';
    src:  url('police/chilanka/Chilanka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancingscript';
    src:  url('police/dancing-script/DancingScript-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaushanscript';
    src:  url('police/kaushan-script/KaushanScript-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kurale';
    src:  url('police/kurale/kurale-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Fin de déclaration des polices--------------------------------------------------*/

/* Mise en page des blocs*/

body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-family: 'montserrat', Impact, Helvetica, serif ;
}

/*----------Mise en page entête-----------*/
header {
    height: 260px;
    display: flex;
    background:#579C87;   
}

h1 {
    margin: auto;
    color: #FDCB46;
    font-size:8em;
    font-family: 'montserrat-semibold','montserrat', Impact, Helvetica, serif ;
}

/*----------Mise en page menu-------------*/
#menu
{
    display:flex;
    flex-wrap:wrap;  
    justify-content: center; 
}

#note 
{   
    text-align: center;
    margin:100px 50px 50px 157px;
    background-color: #FDE1DD;    
   

}

#note .fas
{
    display: inline-block ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #F15F62, #F6916A);
}

#note h2
{
    margin-top: 5px;
    font-size: 48px;
    color: #3D1319;
    font-family: 'devonshire', Impact, Helvetica, serif ;  

}

#note strong
{
    font-family: 'Itim', Impact, Helvetica, serif ;
    color: #3D1319;
    font-size: 76px;
}

#chic {  
    margin: 100px 157px 50px 50px;
    background-color: #FFF5FE;
}

#chic h2
{
    font-size: 40px;
    font-family: 'kurale', Impact, Helvetica, serif ;   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #DB8528, #8F5BFE);
}

#chic strong
{
    display: flex;
    justify-content: center;  
    font-family: 'abrilfatface', Impact, Helvetica, serif ;   
    color:#c77412;
    font-size: 76px;
}

#délice 
{ 
    margin: 50px 50px 100px 157px;
    background-color: #F9F9F9;
}
#délice h2
{
    font-size: 48px;
    font-family: 'dancingscript', Impact, Helvetica, serif ;   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #0228DD, #0889FB);
}
#délice strong
{
    display: flex;
    justify-content: center;  
    font-family: 'chilanka', Impact, Helvetica, serif ;   
    color:#0887FB;
    font-size: 76px;
}
#palette 
{
    margin: 50px 157px 100px 50px;
    background-color: #FDFFFD;

}
#palette h2
{
    font-size: 48px;
    font-family: 'kaushanscript', Impact, Helvetica, serif ;   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #3D923A, #BEFF7F);
}

#palette strong
{
    display: flex;
    justify-content: center;  
    font-family: 'chilanka', Impact, Helvetica, serif ;   
    color:#72BF56;
    font-size: 76px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 535px;
    height: 759px;
    box-shadow: 1px 1px 30px #EDEDED;
}

strong
{
    font-size: 3em;
    font-weight: normal ;
}

/*----------Mise en page aside------------*/

aside {
    width: 655px;
    height: 117px;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 15px;
    background: #579C87;
    color: #FDCB46;
}

/*----------Mise en page footer-----------*/

footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 16px);
    height: 137px;
    margin-top: 100px;
    font-size: 30px;
    background: #579C87;
    position: fixed;
    bottom: 0px;
    left: 8px; 
}

.wiggle
{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;

}
span
{
    color: #FDCB46;
}

.fas
{
    font-size:60px;  
   
} 

a:link
{
    text-decoration: none;
}

@-webkit-keyframes shake
{
    0% {-webkit-transform: translate(2px,2px);}
    10% {-webkit-transform: translate(-2px, -2px);}
    20% {-webkit-transform: translate(2px,2px);}
    30% {-webkit-transform: translate(-2px, -2px);}
    40% {-webkit-transform: translate(2px,2px);}
    50% {-webkit-transform: translate(-2px, -2px);}
    60% {-webkit-transform: translate(2px,2px);}
    70% {-webkit-transform: translate(-2px, -2px);}
    80% {-webkit-transform: translate(2px,2px);}
    90% {-webkit-transform: translate(-2px, -2px);}
    100% {-webkit-transform: translate(2px,2px);}
}

.wiggle :hover
{
    -webkit-animation-name:shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite ;
}

/*Animation zoom menus-------------------------------*/
article:hover .fas{
    animation: zoomicone 1s forwards;
}
article:hover h2{
    animation: zoomh2 1s forwards;
}
article:hover strong{
    animation: zoomstrong 1s forwards;
}

@keyframes zoomicone
{
    0% {
        font-size: 60px;
    }

    100% {
        font-size: 130px;
    }
}@keyframes zoomh2
{
    0% {
        font-size: 48px;
    }

    100% {
        font-size: 56px;
    }
}@keyframes zoomstrong
{
    0% {
        font-size: 76px;
    }

    100% {
        font-size: 40px;
    }
}

/*Animation points de suspension-------------------------------*/
aside #apres, aside:hover #avant
{
    display: none;
}
   
aside:hover #apres
{
    display: block;
    font-size: 1.9em;
    font-weight: bold;    
}

#point1
{
    animation: masuperanimation 750ms  infinite;     
}
#point2
{
    animation: masuperanimation 750ms 250ms infinite; 
}
#point3
{
    animation: masuperanimation 750ms 500ms infinite; 
}

@keyframes masuperanimation { /* Tous les autres navigateurs */
    0% {
        opacity: 0.2;

    }
    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}
