/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/


/*Début de programmation*/
/*Déclaration des polices-----------------------------------------------------------*/

@font-face {
    font-family: 'kalam';
    src:  url('kalam/Kalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src:  url('montserrat/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Fin de déclaration des polices--------------------------------------------------*/



body
    {
    display:flex;
    flex-direction:column;
    color: #3D1319;
    width:1281px;
    height:2285px;
    font-family: 'montserrat', Impact, Helvetica, serif ;
}
/*Mise en page header-------------------------------------------------------------*/
header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background:#579C87;
}
h1 {
    color: #FDCB46;
    font-size: 10em;
}
/*Fin de mise en page header------------------------------------------------------*/


section
{
    display:flex;
    flex-direction:column; 
    width: 1181px;
    height: 1782px;
    margin: 50px 50px 201px 50px;
    background-color: #FDE1DD;
    font-family:'kalam', Impact, Helvetica, serif ;
}
/*Mise en page section menu ------------------------------------------------------*/
 #menu
 {
    margin-top: 80px;
 }

#prelude, #point_dorgue, #mouvement_final 
{
    display:flex;
    justify-content: space-between;
    font-size: 25px;
    margin:80px 100px 80px 100px;
}

h3:hover
{
    text-decoration:underline;
}

h3
{
    text-align:center;
    font-size: 40px;
}
.hr
{
    display: flex;
    align-items: center;
    text-align: center;
}

.hr::before,
.hr::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: 0.2em solid;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 45px 100px;
}

/*Mise en page header et footer logo*/
#logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:100px;
    background-color: #FDE1DD;
    height: 160px;  
}   
    
#logo p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    height: 66px;
    margin-top:10px;
}
#logo .fas
{
    text-align: center;
    padding-top:5px;
    font-size: 100px;
    height: 120px;
}

h2
{
    font-size: 45px;
    text-align: center;
    margin-bottom: 100px;
}
p{
    line-height: 30px;
    margin: 0px;    
}

/*Fin de mise en page de la section menu -----------------------------------------*/

/*Mise en page section footer ----------------------------------------------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:1281px;
    height: 137px;
    font-size: 30px;
    background: #579C87;
    position: fixed;
    right: 0px;
    left: 8px;
    bottom: 0px;
}

#mentions, #contact 
{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span
{
    color: #FDCB46;
}

a:link
{
    text-decoration: none;
}
/*Fin de mise en page section footer -----------------------------------------------*/




