/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/

/*Début de programmation*/

/*Déclaration des polices-----------------------------------------------------------*/
@font-face {
    font-family: 'caveatregular';
    src: url('../police/caveat/caveat-regular-webfont.eot');
    src: url('../police/caveat/caveat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/caveat/caveat-regular-webfont.woff2') format('woff2'),
         url('../police/caveat/caveat-regular-webfont.woff') format('woff'),
         url('../police/caveat/caveat-regular-webfont.ttf') format('truetype'),
         url('../police/caveat-regular-webfont.svg#caveatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancingscript';
    src:  url('../police/dancing-script/DancingScript-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src:  url('../police/montserrat/Montserrat-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    src:  url('../police/montserrat/Montserrat-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Fin de déclaration des polices--------------------------------------------------*/

/*Mise en page corps*/

body
    {
    display:flex;
    flex-direction:column;
    color: #3D1319;
    font-family: 'montserrat', Impact, Helvetica, serif ;
}
/*Mise en page header-------------------------------------------------------------*/
header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background:#579C87; 
}

.far
{
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 45px;
    color: #FDCB46;
    float: left;
}

h1 {
    color: #FDCB46;
    font-size: 8em;
    font-family: 'montserrat-semibold','montserrat', Impact, Helvetica, serif ;
}
/*Fin de mise en page header------------------------------------------------------*/


#bloc_page
{
    display:flex;
    flex-direction:column; 
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: #F9F9F9;
    font-family:'caveatregular', Impact, Helvetica, serif ;
}
#delice
{
    background-color: #F9F9F9;  
}
/*Mise en page section menu ------------------------------------------------------*/

#menu{
    margin-top: 20px;
 }

 .prix
 {
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 100px;
     margin-right: 100px;
 }

h2
{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 100px;
    font-size: 70px;
    font-family: 'dancingscript', Impact, Helvetica,serif ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #0228DD , #0889FB);
}
p
{
    font-size: 30px;    
}


h3:hover
{
    text-decoration:underline;
}

h3
{
    text-align:center;
    font-size: 40px;
}
/* Partie insérer un text au milieur d'un trait-------------------------------------------*/
#hr_commencer, #hr_continuer, #hr_terminer 
{
    display: flex;
    align-items: center;
    text-align: center;
}
#hr_commencer::before,
#hr_commencer::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: 0.2em solid #0228DD;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 45px 100px;
}
#hr_continuer::before,
#hr_continuer::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: 0.2em solid #0670F3;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 45px 100px;
}#hr_terminer::before,
#hr_terminer::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: 0.2em solid #229DF9;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 45px 100px;
}
/*Mise en page section footer ----------------------------------------------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:calc(100% - 16px);
    height: 137px;
    font-size: 30px;
    background: #579C87;
    position: fixed;
    left: 8px;
    bottom: 0px;
}
.wiggle 
{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span
{
    font-size: 26px;
    font-family: 'montserrat', Impact, Helvetica, serif ;
    color: #FDCB46;
}


a:link
{
    text-decoration: none;
}
/*Fin de mise en page section footer -----------------------------------------------*/

@-webkit-keyframes shake
{
    0% {-webkit-transform: translate(2px,2px);}
    10% {-webkit-transform: translate(-2px, -2px);}
    20% {-webkit-transform: translate(2px,2px);}
    30% {-webkit-transform: translate(-2px, -2px);}
    40% {-webkit-transform: translate(2px,2px);}
    50% {-webkit-transform: translate(-2px, -2px);}
    60% {-webkit-transform: translate(2px,2px);}
    70% {-webkit-transform: translate(-2px, -2px);}
    80% {-webkit-transform: translate(2px,2px);}
    90% {-webkit-transform: translate(-2px, -2px);}
    100% {-webkit-transform: translate(2px,2px);}
}

.wiggle :hover
{
    -webkit-animation-name:shake;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite ;
}



/* ---------------------------------------------------------------------------------
    Programmation  en responsive 
------------------------------------------------------------------------------------*/


@media all  and (min-device-width: 768px)and (max-device-width: 1024px) 
{
    #bloc_page
    {
        width: 99%;
    }

    .prix p
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #menu
    {
    margin-bottom: 50px;
    }
   
}

@media all and (max-device-width: 767px) 
{
   
    #bloc_page
    {
        width: 99%;
    }
   
    .prix p
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menu
    {
    margin-bottom: 50px;
    }
}