/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/

body, header, footer, .tarifs, p, #prelude, #point_dorgue, #mouvement_final, #mentions, #contact, section
{
    border:1px solid black;
}
/*Début de programmation*/

/*Mise en page corps*/

/* 
Programme CSS
-----------------
Réalisé par Nicolas CHANTEPIE 
*/


/*Début de programmation*/



body
    {
    display:flex;
    flex-direction:column;
    color: #3D1319;
    width:1281px;
    height:2285px;
}
/*Mise en page header-------------------------------------------------------------*/
header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background:#579C87;
    border-bottom: 3px solid black;
   
}
h1 {
    color: #FDCB46;
    font-size: 10em;
}
/*Fin de mise en page header------------------------------------------------------*/

section
{
    display:flex;
    flex-direction:column; 
    width: 1181px;
    height: 1782px;
    border: black 2px solid;
    margin: 50px 50px 201px 50px;
    border: black solid 2px;
    background-color: #FFF5FE;
}
/*Mise en page section menu ------------------------------------------------------*/

#menu{
    margin-top: 80px;
 }

#chic {
    display: flex;
    justify-content: center;

    font-size: 45px;
    text-align: center;

    background-color: #FFF5FE;
    border: 1px black solid ;
}


p
{
    line-height: 55px;
    margin: 0px;    
}
#entrée, #plats, #dessert
{
        display:flex;
        justify-content: space-between;
        font-size: 25px;
        margin:60px 100px 60px 100px;
        border: solid 1px black;
    
}

h3:hover
{
    text-decoration:underline;
}

h3
{
    font-style:italic;
    text-align:center;
    font-size: 30px;
    border: solid black 1px;
}
.hr 
{
    display: flex;
    align-items: center;
    text-align: center;
}
.hr::before,
.hr::after {
    /* la couleur est volontairement absente ; ainsi elle sera celle du texte */
    border-top: 0.2em solid;

    /* nécessaire pour afficher les pseudo-éléments */
    content: "";

    /* partage le reste de la largeur disponible */
    flex: 1;

    /* espace les traits du texte */
    margin: 45px 100px;
}



/*Mise en page section footer ----------------------------------------------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:1281px;
    height: 137px;
    font-size: 30px;
    background: #579C87;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#mentions, #contact 
{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span
{
    color: #FDCB46;
}

a:link
{
    text-decoration: none;
}
/*Fin de mise en page section footer -----------------------------------------------*/
